<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>WeatherCal</title>

</head>
<body>
<h1>Welcome!</h1>
<body>
    <div class="form">
        <form action = "/api/users/login" method="post">
        <div class="title">Welcome</div>
        <div class="subtitle">Login here</div>
        <div class="input-container ic2">
          <input name="email" id="email" class="input" type="text" placeholder=" " />
          <label for="email" class="placeholder">Email</label>
        </div>
        <div class = "input-container ic2">
            <input name="password" id="password" class="input" type="text"placeholder=" "/>
            <label for="password" class="placeholder">Password</label>
        </div>
        <button type="text" class="submit" value="Submit">Submit</button>
        </form>
      </div>
      <div class="form">
        <form action = "/api/users/me" method=get>
        <button type="text" class="submit" value="Submit">get me</button>
        </form>
      </div>
      <div class="form">
        <form action = "/api/users/forecast" method=get>
        <button type="text" class="submit" value="Submit">forecast</button>
        </form>
      </div>
      <div class="form">
        <form action = "/api/users/logout" method=post>
        <button type="text" class="submit" value="Submit">logout</button>
        </form>
      </div>


      <div class="form">
        <form action = "/api/users/register" method="post">
        <div class="title">Register</div>
        <div class="input-container ic2">
          <input name="email" id="email" class="input" type="text" placeholder=" " />
          <label for="email" class="placeholder">Email</label>
        </div>
        <div class = "input-container ic2">
            <input name="password" id="password" class="input" type="text"placeholder=" "/>
            <label for="password" class="placeholder">Password</label>
        </div>
        <div class = "input-container ic2">
            <input name="location" id="location" class="input" type="text"placeholder=" "/>
            <label for="location" class="placeholder">Location</label>
        </div>
        <button type="text" class="submit" value="Submit">Submit</button>
        </form>
      </div>
  
</body>
</html>