body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#236AB9;  
    font-family: 'Calibri';  
}  

.inputForm{
    width: 332px;
    overflow: hidden;
    margin: auto;
    padding: 2rem;
    background: #F7E7D4;
    border-radius: 20px;
}

h2{
    text-align:center;
    color: #091834;
    padding: 2px;
    margin: auto;
}

label{
    color: #091834;
    font-size: 18px;
}

.container{
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.textInput{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

.submit{
    margin-top:10px;
    width: 300px;
    height: 30px;
    border-radius: 17px;
    padding-left: 7px;
    color: #091834;
    background-color: #f7e7d4;
}

.submit:hover{
    background-color: #FB8604;
}